{% extends "build.html" %}
{% block content %}

<div id="contents">
		<div class="section">
			
		<div class="section contact">
			<p>
				For Inquiries Please Call:
				<ul>
				<li> Ayush Gupta : 756-592-2759</li>
				<li> Himanshu Agarwal : 983-827-1406</li>
				<li> Mayank : 890-151-0055</li></ul>
			</p>
			<p>
				Or you can visit us at: <span>Vishwesharaiya Hostel<br> 
				<ul>
				<li>Ayush Gupta : Room No 92</li>
				<li>Himanshu Agarwal : Room No 137</li>
				<li>Mayank : Room No 226</li>
				</ul> </span>
			</p>
		</div>
	</div>
</div>
<div id="footer">
		
</div>

{% endblock %}
