{% extends "build.html" %}
{% block content %}

	<div id="contents">
		<div class="features">
			<h1>Developed by :</h1>
                     <div>
			
				<span><a href="http://127.0.0.1:5000/ayush">
				<img src="static\images\Ayush.jpg" alt="Img" height=450></a>
				<div class="det">
				<h2><a href="http://127.0.0.1:5000/ayush"><br><br><br><br><br><br><br><br>Go to Ayush Gupta's About Page</a></h2>
					
                                </div>
				</span>
			</div>
			<p></p>
			<div class="up">
			<div>
				<span><a href="http://127.0.0.1:5000/him">
				<img src="static\images\Himanshu.jpg" alt="Img" height=450></a>
				<div class="dettwo">
				<h2><a href="http://127.0.0.1:5000/him"><br><br><br><br><br><br><br><br>Go to Himanshu Agarwal's About Page</a></h2>
					
				</div>
				</span>
			</div>
                        </div>
			<p></p>
			<div class="uptwo">
                         <div>
				<span><a href="http://127.0.0.1:5000/mayank">
				<img src="static\images\Mayank.jpg" alt="Img" height=450></a>
				<div class="detthree"><h2><a href="http://127.0.0.1:5000/mayank"><br><br><br><br><br><br><br><br>Go to Mayank's About Page</a></h2>
					
                                 </div>
				</span>
			</div>
                       </div>
		</div>
	</div>

{% endblock %}
